.menuWrap {
  flex: none;
  height: 100%;
  width: 226px;
  background-color: #fff;
  padding: 22px 12px 20px;
  border-right: 1px solid rgba(193, 188, 188, 0.2);
  user-select: none;
  overflow-y: auto;
}
