@font-face {
  font-family: "iconfont"; /* Project id 3888423 */
  src: url('iconfont.woff2?t=1680601807381') format('woff2'),
       url('iconfont.woff?t=1680601807381') format('woff'),
       url('iconfont.ttf?t=1680601807381') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-correct:before {
  content: "\e604";
}

.icon-move:before {
  content: "\e62b";
}

.icon-biaoqiantag-xianxing:before {
  content: "\e7ec";
}

.icon-ic24-tag:before {
  content: "\e664";
}

.icon-view-list:before {
  content: "\e60a";
}

.icon-code:before {
  content: "\e6f2";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-ellipsis:before {
  content: "\e74f";
}

.icon-add-select:before {
  content: "\e7b0";
}

.icon-sami-select:before {
  content: "\e7b1";
}

.icon-search:before {
  content: "\e7b3";
}

.icon-square:before {
  content: "\e7d1";
}

.icon-shouqi:before {
  content: "\e7d3";
}

.icon-zhankai:before {
  content: "\e7d4";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-arrow-up:before {
  content: "\e745";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-archive:before {
  content: "\e719";
}

.icon-today:before {
  content: "\e8ca";
}

.icon-bx-calendar-week:before {
  content: "\e62d";
}

.icon-data06:before {
  content: "\e67b";
}

.icon-sun:before {
  content: "\e668";
}

.icon-data:before {
  content: "\e623";
}

.icon-todo:before {
  content: "\e6cb";
}

.icon-24gl-minus:before {
  content: "\e88f";
}

.icon-24gl-cross:before {
  content: "\e97d";
}

.icon-24gl-minimization:before {
  content: "\ea6a";
}

.icon-24gl-minimize:before {
  content: "\ea6b";
}

.icon-24gl-minimize2:before {
  content: "\ea6c";
}

.icon-24gl-square:before {
  content: "\ea98";
}

