.footerWrap {
  flex: none;
  display: flex;
  align-items: center;
  margin: 3px 5px 0;

  .footerButtonWrap {
    display: flex;
    align-items: center;
    max-width: 150px;
    height: 23px;
    padding: 0 5px;
    color: #999;
    cursor: pointer;
    border-radius: 3px;
    user-select: none;
    overflow: hidden;

    .iconStyle {
      flex: none;
      margin-right: 3px;
    }

    .textStyle {
      flex: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 13px;
      line-height: 20px;
    }
  }

  .footerButtonWrap:hover {
    background-color: #ececec;
    color: #333;
  }
}
