.detailWrap {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  overflow-y: hidden;

  padding: 22px 0 0px;

  .formWrap {
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    overflow-y: hidden;

    .timePicker {
      flex: none;
      height: 32px;
      width: 100%;
      margin: 0;
      border-bottom: 1px solid rgba(193, 188, 188, 0.3);
    }

    .hideBorder {
      border: none !important;
    }

    .contentWrap {
      flex: auto;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      // 隐藏滚动条
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      .titleWrap {
        flex: none;
        display: flex;
        margin-top: 5px;

        .titleArea {
          padding-right: 5px;
          font-weight: 700;
          font-size: 15.4px;
          line-height: 18px;
          margin-left: -5px;
        }

        .startButton {
          flex: none;
          width: 20px;
        }
      }

      .detailArea {
        flex: none;
        margin-left: -5px;
      }

      .focus {
        flex: auto;
      }
    }
  }

  .footer {
    flex: none;
    display: flex;
    align-items: center;
    height: 38px;
    border-top: 1px solid rgba(193, 188, 188, 0.3);
    padding: 0 10px;

    .footerButtonWrap {
      display: flex;
      align-items: center;
      max-width: 150px;
      height: 23px;
      padding: 0 5px;
      cursor: pointer;
      border-radius: 3px;
      user-select: none;
      overflow: hidden;

      .iconStyle {
        flex: none;
        margin-right: 3px;
        margin-bottom: 2px;
      }

      .textStyle {
        flex: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
        line-height: 20px;
      }
    }

    .footerButtonWrap:hover {
      background-color: #ececec;
    }
  }

  .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;

    color: #757575;
    pointer-events: none;
    user-select: none;
  }
}
